.main-header {
  display: flex;
  background-color: #ffffff;
  position: relative;
  flex-direction: column;
  min-height: 55px;
}

.main-header__logo {
  height: 96px;
  width: 185px;
  align-self: center;
  position: absolute;
  order: 1;
}

/**
.main-header__logo-image {
  background: #81B3D3;
}
**/
